body{
    margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(login_background.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
    font-family: sans-serif;
}

.loginbox{
    width:380px;
	height:480px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	padding:5px;
	overflow:hidden;
}

.avatar{
    width: 220px;
    height: 200px;
    border-radius: 50%;   
    margin-top: 70px;
    margin-left: auto;
	margin-right:auto;
	display:block;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}

































































